[2013-03-23 15:09] HalaKamal opened #53 "c1-10"
i should give permission to a logged in user to be able to comment

[2013-03-23 15:51] BeshoyAtef opened #54 "As a User i Should see the "i am interested button""
Story : As a User i Should see the "i am interested button"

[2013-03-23 19:00] mohamedahmedawad93 opened #55 "Story c2-7"
As c2 I should provide the channel by which a user could subscribe to by checking if user is verified and can subscribe to channels, allowing user to subscribe to channels and sub channels directly and allowing user to subscribe using parameters.
@mahmoudHussein @HebaElSobky @maizaied

[2013-03-23 19:14] abdelrahmanMaged opened #56 "As a user i should be able to post in a specific channel"

[2013-03-23 19:39] maizaied opened #57 "as c2 i should provide the company with a created user"

[2013-03-23 19:45] saraismail1234 opened #58 "add table user-network"
this table will be created so the user's friends (specially imported friends) would be stored in it, when the user presses import friends from facebook.

[2013-03-23 19:46] mohamedhammad89 opened #59 "as c3 I should provide the facebook connection method to enable registering in with facebook"
@Reem-Sharkawy  @nadeembarakat  @saraismail1234  @iBebarz

[2013-03-23 20:02] saraismail1234 commented on #58
@Reem-Sharkawy  @mohamedhammad89 @nadeembarakat @iBebarz

[2013-03-23 20:09] saraismail1234 opened #60 "as c3 I should enable Facebook Connection to Import friends"
after the FB connection is already established, the user can import his friends list on facebook to our website.

@Reem-Sharkawy @mohamedhammad89 @nadeembarakat @iBebarz

[2013-03-23 20:29] mahmoudHussein opened #61 "viewing the rate the seller button - dependency"
As a buyer i should be able to view " rate the sellers" button on the post where i bought from. the button should only be viewed (appear) by the people that the buyer bought from.

[2013-03-23 20:36] mahmoudHussein commented on #61
@maizaied @HebaElSobky @mohamedahmedawad93

[2013-03-23 20:49] nadeembarakat opened #62 "Adding User_Network Table"
Adding User_Network Table which contains User's Friends who are  imported from his fb friends list

[2013-03-23 20:59] nadeembarakat commented on #62
@Reem-Sharkawy  @saraismail1234  @iBebarz  @mohamedhammad89

[2013-03-23 21:01] nadeembarakat opened #63 "Importing Friends Using FB Connection"

[2013-03-23 21:02] Tharwat7 opened #64 "Create the (I'm interested) relationship tables -"
@BeshoSmile @HalaKamal @AbdelrahmanAyad

Please review my code

[2013-03-23 21:02] Tharwat7 opened #65 "As c2 I should view the interested people in my post -"
As a User I should be able to view the interested people in my post

@BeshoSmile  @HalaKamal  @AbdelrahmanAyad

PLease review my code

[2013-03-23 21:03] nadeembarakat commented on #63
@Reem-Sharkawy  @iBebarz  @mohamedhammad89  @saraismail1234

[2013-03-23 21:12] HebaElSobky opened #66 "As C2, I should provide Sub-channels to the channels"
As C2, I should provide sub-channels to the existing channels to which the user can subscribe to as well as know how to link such function to the admin so that the admin can add a sub-channel when requested to.

@mahmoudHussein @maizaied @mohamedahmedawad93
Any notes

[2013-03-28 15:42] mahmoudHussein opened #75 "as a user i can log in and log out from the site"
@maizaied @mohamedahmedawad93 @HebaElSobky

as a user i can log in and log out. i can only log in if i am a registered user to the site and the login should redirect me to my profile page.

[2013-03-28 20:43] Reem-Sharkawy opened #77 "I should create a method that takes the object that is returned from facebook while a user is importing his friends from facebook"

[2013-03-28 23:36] abdelrahmanMaged commented on #64
There are no scenarios in this layer so the scenario is verified

[2013-03-28 23:38] abdelrahmanMaged commented on #53
I verified the scenario as there are no scenarios in this sprint good luck

[2013-03-28 23:39] abdelrahmanMaged commented on #54
I verified the scenario as there are no scenarios in this sprint good luck

[2013-03-28 23:39] abdelrahmanMaged commented on #56
I verified the scenario as there are no scenarios in this sprint good luck

[2013-03-29 10:09] BeshoyAtef commented on #64
amr i cant find the files , nor the branch

[2013-03-29 10:11] BeshoyAtef commented on #56
Please Check my comments on the pull request

[2013-03-29 13:40] HalaKamal commented on #53
i have finished my work coding and documentation and diagram

[2013-03-29 17:00] nadeembarakat opened #84 "User Can post Method - get number of posts method"
User Can post Method

@Reem-Sharkawy  @iBebarz  @mohamedhammad89  @saraismail1234

[2013-03-29 20:11] #57 closed, assigned to maizaied

[2013-03-29 21:06] Tharwat7 commented on #64
@BeshoSmile  i have added them they are online please check again

[2013-03-30 18:20] mohamedhammad89 opened #91 "As a seller/Buyer , I can specify special attributes to help me guide through my search"
success:
the user is directed to the advanced page , user starts to refine the channels and choosing one , the paramters for the chosen channel appears on the left , user fills in the paramters  ( check boxes  and within slider ) and the relevant posts appear in the center , a button above the paramters specifies the whether the user si searching for other users , the searching speed meet the user

[2013-03-30 19:20] nadeembarakat opened #92 "Basic Search Engine"
As Seller/Buyer/Guest should be able to search by different attributes of posts and users

[2013-03-30 19:36] maizaied opened #93 "As a user I should be able to regisster through an email account [User sign-up with an e-mail account]"
doc : @mahmoudHussein  scenrio : @HebaElSobky  code : @mohamedahmedawad93

sucess : [*Navigate to the website's welcome page
*Click on "Sign up with e-mail" button
*User is redirected to the sign up page where he enters his name, e-mail and password in textfields, where the e-mail is verified for correctness, and password verified for strength.
*User press Sign-up
*User is redirected to a page whe

[2013-03-30 19:37] maizaied opened #94 "As a guest , i should be able to view posts and navigate through parts of the site."
doc : @mahmoudHussein  scenro @HebaElSobky  code reivewer @mohamedahmedawad93

success : browse through the site seeing everything like a normal user except that i cant post or comment
failure :having access for commenting on a post or posting

[2013-03-30 19:38] maizaied opened #95 "As an unverified user i should be able to browse through the website pages however i can't post or comment unless i verify my account"
reviewers doc :@mahmoudHussein  scenrio :  @HebaElSobky  code review : @mohamedahmedawad93

success :browse through the site seeing everything like a normal user except that i cant post or comment
 failure : having access for commenting on a post or posting

[2013-03-30 19:41] abdelrahmanMaged opened #96 "A user can add post in a specific channel"
@HalaKamal @Tharwat7 @BeshoSmile
Success Story:
[A logged in user:
*Press the "Add post" button in the "Home" page.
*User gets redirected to "Create post" page
*User fills in the obligatory post attributes (form will refuse to submit of left blank):
-Name
-Picture
-Price
*User fills in the extra post attributes
*Press "Submit" button, gets alert that post added successfully, redirected to post pag

[2013-03-30 20:02] HebaElSobky opened #97 "C2- As a buyer/seller i should be able to manage my profile and personalise it"
Success story:
1. profile pic: /enter my own profile/ choose the upload image button on the top left corner of the picture/ amenu will appear/ choos ethe image to upload/ enter/ receive notification/ profile updated with the new pic
2. Personal info: choose the setting button on the top right corner of the page/ choose account settings/ edit the personal info in the specified fields/click save but

[2013-03-30 20:03] HebaElSobky opened #98 "C2- As a user i should be able to update my personal information"
A user can update his/her personal information on the profile such as phone number, age, working place

Success Story:
*Click on the settings button on the top left corner of the page
*Click on "Account settings"
*Edit the personal information in the specified field
    -DOB is from a calendar with some restrictions
    -Gender will be selected from a drop down list (or a radio button)
    -Other

[2013-03-30 20:08] ahmedshireef opened #99 "C3-20 As a user I should be able to navigate to the network page for my profile where I can find a button that imports my Facebook friends."
Success
The user is logged-in, and is connected with Facebook, user clicks on add Facebook friends, a pop up box appears and and the user's friends appears and he could select from them the friends he would like to send an invitation to join "Tager" and to become a friend in his network. If the user is not signed in with Facebook, once he clicks on the Facebook logo , a pop up box will appear to l

[2013-03-30 20:41] BeshoyAtef opened #100 "C14-2 As a System i should be able to calculate the QualityIndex of the post"
Success:
User Posted his post, and the system automatically calculated his post quality index

Failure:
System get fooled by fake information thus gives a high quality index that doest reflect the info on the post

Reviewers:
Documentation Reviewer @Tharwat7
UML/Design Reviewer @HalaKamal
Implementation Reviewer @mohamedahmedawad93
Scenario Reviewer @AbdelrahmanAyad

Tasks:
C1.14-2.1 -Unit Tests
C

[2013-03-30 20:42] BeshoyAtef commented on #99
Please check the mail and follow the Issue format

[2013-03-30 20:42] BeshoyAtef commented on #99
@iBebarz

[2013-03-30 20:42] BeshoyAtef commented on #98
@HebaElSobky Please check the mail and follow the Issue format

[2013-03-30 20:43] BeshoyAtef commented on #97
@HebaElSobky  Please check the mail and follow the Issue format

[2013-03-30 20:43] BeshoyAtef commented on #96
@abdelrahmanMaged Please check the mail and follow the Issue format

[2013-03-30 20:43] BeshoyAtef commented on #95
@maizaied Please check the mail and follow the Issue format

[2013-03-30 20:43] BeshoyAtef commented on #92
@nadeembarakat Please check the mail and follow the Issue format

[2013-03-30 20:43] Tharwat7 opened #101 "As a User i should be able to report some Posts"
Success:
User could identify and report a certain post and report it

Failure:
User report a wrong post/ or fails to get a response to his report.  Admin is not logged in yet is able to report a post

Reviewers:
Documentation Reviewer @mahmoudHussein
UML/Design Reviewer @HalaKamal
Code Reviewer @BeshoSmile
Scenario Reviewer @AbdelrahmanAyad

Tasks:
C1-17

[2013-03-30 20:43] BeshoyAtef commented on #91
@mohamedhammad89 Please check the mail and follow the Issue format

[2013-03-30 20:44] Tharwat7 opened #102 "As a System i should identify the state of the Post (based on the date and the state)"
Success:
Post has four states ( new , sold , archived, unsold  ). Admin defines the time span of the channel until the post is old and then archived ,  the new post is previewed in the home page with a ribbon on the post ,

[*A post has three possible statuses wether sold or unsold (new, old and archived).
*The webmaster defines the timeout required for posts to go from New status to Old status, o

[2013-03-30 20:49] Reem-Sharkawy opened #103 "As c3 , (a system) I should be able to provide a refinement bar along while previewing the posts"
Success:
first time , the user will find al the channels and sub channels clicked ad they appear in the hom epage , user starts to unclick a sub-channel or a channel to match his interests . the posts are refined or updated each time the user clicks or unclicks a channel or a sub-channel

Failure:
user unclicks all channels and subchannels , he will be displayed a message to choose a subchannel to

[2013-03-30 20:50] #54 closed, assigned to BeshoyAtef

[2013-03-30 20:51] BeshoyAtef commented on #103
@Reem-Sharkawy  Please Check you mail for the Issue format that must be followed

[2013-03-30 20:51] mahmoudHussein opened #104 "C2 As a seller i should be able to say who i sold my product to"
@maizaied @HebaElSobky @mohamedahmedawad93   as a seller i should be able to see the add the buyer button on my post and when i click on it a page should appear with a form that would take the required information about it and when submitted the buyer should be associated with the post !

[2013-03-30 20:51] BeshoyAtef commented on #104
@mahmoudHussein Please check you mail and follow the issue format

[2013-03-30 21:01] BeshoyAtef opened #105 "C1-14 As a System i should be able to promote the quality of the posts"
Success:
System promotes posts according to its quality/the system will calculate the quality of the post based on the weight of the attributes that are defined by the Admin
[The user can track a post's progress by sorting the posts by quality.]

Failure:
User fails to acknowledge the required attributes needed to be fulfilled in order to increase the quality of his post(to be promoted) ,and in th

[2013-03-30 21:06] BeshoyAtef commented on #102
:+1:

[2013-03-30 21:08] BeshoyAtef commented on #92
@nadeembarakat Please add the points labeled

[2013-03-30 21:23] mahmoudHussein opened #106 "C2 As a buyer, i should be able to rate sellers (based on previous history)"
@maizaied @mohamedahmedawad93 @HebaElSobky

success :
a user when he is requesting a specific post ... a rate the seller button should appear if this is the real buyer of this specific post and to rate the buyer the button will re direct you to the sellers profile.

failure :
when viewing the post that you are not its buyer and rate the seller button appearer.

tasks:
(1)-read about writing tests

[2013-03-30 21:31] HalaKamal opened #107 "C1-10 As a User i can comment on Posts: [User commenting on a Post]"
SUCCESS:
as a user I should be logged in , the post is in the home page , user presses " more details ie, button" , user gets directed to the post's main page , user find a text box to write his commenta and a submit button , user's comment is posted below other user's comments , user is notified that his comment is added

[A logged in user:
*Post in the Home page on which the user wants to commen

[2013-03-30 21:35] HalaKamal opened #108 "c2-16 As an admin, i should be abl to manage posts and remove inappropriate ones (hide as a function)"
SUCCESS:
admin being abl to check the posts and remove inappropriate one , admin is able to navigate to the reported post , and is able to approve(hide) or reject the report ( do nothing)

FAILURE:
admin can not have access to other users' content or removing inappropriate posts , reports are not delivered to the admin , admin canot remove the post

Reviewers:
Documentation Reviewer @Tharwat7
UML/

[2013-03-30 21:42] saraismail1234 opened #109 "as a buyer/seller i should be able to share posts through facebook and twitter"
Success:
- if the user is logged in with facebook , the user click on share , a pop up box appears for the user to add words before   sharing , if not connected to facebook , a pop up box appears to log in through facebook with facebook email and  password , the user's email and password is saved in the database for later is the user needs at any time to share again   any post.

Failure:
- user is

[2013-03-30 21:58] mohamedahmedawad93 opened #110 "as a buyer/seller i shoild be able to subscribe to channels or subchannels or by patameters and get notifications about these subscriptions"
@maizaied @mahmoudHussein @HebaElSobky
success :
user gets the posts he had subscribed in successfully and receive notifications about his subscriptions successfully

failure :
user doesn't receive the posts he has subscribed in and getting a notification about a wrong channel that was not subscribed to, not receiving notifications about any updates about the subscribed channel

tasks:
1-searching

[2013-03-30 22:01] mohamedahmedawad93 opened #111 "as a user i should be able to log in and log out"
@maizaied @mahmoudHussein @HebaElSobky
success :
navigate to the websites welcome page , in the navgation bar up press login , an email and password fields will appear enter them , this will redirect you to the home page ,  if your wish to logout , up in the nagavition bar justt click log out , u should be rediected to the welcome page .

failure :
user can't login or logout

tasks:
1-write my tes

[2013-03-30 22:20] BeshoyAtef commented on #109
@saraismail1234 Pleas Read your mail for a correct issue content format

[2013-04-03 22:23] HalaKamal commented on #108
i finished searching and i'm coding

[2013-04-05 08:14] #53 closed, assigned to HalaKamal

[2013-04-05 08:15] BeshoyAtef commented on #55
THIS SHOULD BE CLOSED
@mahmoudHussein  @HebaElSobky  @maizaied

REVIEW AND CLOSE !!!

[2013-04-05 08:15] BeshoyAtef commented on #56
THIS SHOULD BE CLOSED
PLease @Tharwat7 @HalaKamal  @AbdelrahmanAyad  CLOSE IT

[2013-04-05 08:16] BeshoyAtef commented on #58
@Reem-Sharkawy @mohamedhammad89 @nadeembarakat @iBebarz

THIS SHOULD BE CLOSED

[2013-04-05 08:17] BeshoyAtef commented on #59
@iBebarz You cant push f issue that is not assigned to you
ISSUE CLOSED

[2013-04-05 08:17] #59 closed, assigned to mohamedhammad89

[2013-04-05 08:24] BeshoyAtef commented on #60
@Reem-Sharkawy  , @mohamedahmedawad93  @nadeembarakat @iBebarz

REVIEW AND CLOSE !@!!

[2013-04-05 08:24] BeshoyAtef commented on #61
Why this is STILL OPEN ?
@mahmoudHussein

[2013-04-05 08:24] BeshoyAtef commented on #61
@maizaied , @HebaElSobky  Please Review and CLOSE

[2013-04-05 08:25] BeshoyAtef commented on #62
@Reem-Sharkawy @saraismail1234 @mohamedhammad89

THIS SHOULD BE CLOSED

[2013-04-05 08:25] BeshoyAtef commented on #63
SHOULD BE CLOSED @nadeembarakat @Reem-Sharkawy

[2013-04-05 08:25] #64 closed, assigned to Tharwat7

[2013-04-05 08:26] BeshoyAtef commented on #65
@HalaKamal

[2013-04-05 08:26] #65 closed, assigned to Tharwat7

[2013-04-05 08:26] BeshoyAtef commented on #66
SHOULD BE CLOSED !!

[2013-04-05 08:27] BeshoyAtef commented on #75
@mahmoudHussein  SHOULD BE CLOSED

[2013-04-05 09:21] mahmoudHussein commented on #61
@BeshoSmile it will be closed now ...no worries

[2013-04-05 09:21] #61 closed, assigned to mahmoudHussein

[2013-04-05 12:19] maizaied commented on #93
@mahmoudHussein  @HebaElSobky @mohamedahmedawad93  plz review me and guys el view 7amlha pull request 3ashan i pushed enter withooyt the number soo review it bardoo

[2013-04-05 12:21] BeshoyAtef commented on #93
maio :+1:

[2013-04-05 12:51] HebaElSobky commented on #66
close #66

[2013-04-08 17:17] nadeembarakat opened #127 "basic search"
please review my code
@ibebarz @reem-sharkawy @saraismail1234 @mohamedhammad89

[2013-04-08 19:02] maizaied commented on #93
@mahmoudHussein  @mohamedahmedawad93 @HebaElSobky  plz review

[2013-04-09 08:00] BeshoyAtef commented on #104
#129

[2013-04-09 08:00] BeshoyAtef commented on #93
#128

[2013-04-11 21:32] AbdelrahmanAyad commented on #96
@Tharwat7 @BeshoSmile @Reem-Sharkawy
Please review my code you can find it attached on your email as i sent due to some issue in my git account

[2013-04-11 23:37] maizaied commented on #93
@mahmoudHussein  @mohamedahmedawad93  @HebaElSobky  please review me :D

[2013-04-12 03:14] HalaKamal commented on #108
i finished all searching .coding, uml, documentation

[2013-04-12 03:48] Tharwat7 commented on #107
@HalaKamal please link your commits to the issues :)

[2013-04-12 03:48] Tharwat7 commented on #108
@HalaKamal please link your commits to the issue :)

[2013-04-12 04:58] mohamedahmedawad93 commented on #110
@maizaied @mahmoudHussein @HebaElSobky review ya ged3an :D

[2013-04-12 07:01] BeshoyAtef commented on #107
please Check my comments

the code dont compile

[2013-04-12 07:10] AbdelrahmanAyad commented on #105
beshoy in the branch named cal_quality index there is a code error so the project does not validate hence i can not run the server please check it so i can perform my task, regards

[2013-04-12 09:39] maizaied commented on #93
@mohamedahmedawad93  some stuff wont work without mahmouds login so when ur revieing take it

[2013-04-12 13:24] maizaied opened #135 "class digram"
plz any1 wants me to add anything in the class digr write it here !

[2013-04-12 14:43] mahmoudHussein commented on #104
@HebaElSobky @maizaied @mohamedahmedawad93 please review this story its all done !

[2013-04-12 14:46] mahmoudHussein commented on #106
@mohamedahmedawad93 @maizaied @HebaElSobky  @Tharwat7  please review my story its all done !

[2013-04-12 14:58] mahmoudHussein commented on #135
userProfile:

canRate(self,post_id)
get_posts(self)
calculate_rating(self,rate,post,buyer)
add_Buyer(self,post,phone_num)

On Fri, Apr 12, 2013 at 3:24 PM, maizaied notifications@github.com wrote:

[2013-04-12 17:06] HalaKamal commented on #96
@abdelrahmanMaged  yits only one actor not two , and the arrows must point to top of the life time, and point 6 is wrong direction

[2013-04-12 17:17] HalaKamal commented on #105
@BeshoSmile  besho your diagram has some things must be done, first the box must has the <<UI>> up and index.html down , and the views.py must has up of it <<System>>, and there must be loop box remake it again

[2013-04-12 17:20] HalaKamal commented on #100
the same comment rewrite the boxes in the right form , then the views what its doing loop or if conditions specify please in right form ,

[2013-04-12 17:36] HalaKamal commented on #101
first the life time of the user must be upper than the other life times, and there must be life times in the third box, rewrite the boxes names correctly as systems and ul  and there must be a render to the user

[2013-04-12 17:36] HalaKamal commented on #101
and export the uml not snapshots

[2013-04-12 17:47] mohamedahmedawad93 commented on #110
@BeshoSmile please review my code

[2013-04-12 18:05] mohamedahmedawad93 commented on #135
I added the following class Notification:
attributes:1- user(foreignkey to class UserProfile)
               2- content

in class Post i added the following def:
      1-def post_Notification(self)

I added the following class AttributeChoice:
attributes:1- attribute_id(ForeignKey to class Attribute)
               2-value = models.CharField(max_length=64)

in class Subscription i added the follow

[2013-04-12 18:54] maizaied commented on #95
@mahmoudHussein @HebaElSobky @mohamedahmedawad93  please review

[2013-04-12 20:26] BeshoyAtef commented on #135
i have no methods to include thanks mai

[2013-04-12 23:46] maizaied commented on #135
done :D

[2013-04-16 19:42] Tharwat7 opened #149 "DB Fixing according to conventions"
The database has been updated with the changes according to the conventions that should be followed in the naming patterns.. please change your code to match the changes that have occurred to Model Attributes and Methods Names... here is the list of chnages:

Model names that changed:

Class Subchannel ==> SubChannel

1) Models Attributes that changed:

Class SubChannel:
channel_id ==> channel

Cl

[2013-04-16 20:39] Tharwat7 commented on #102
@abdelrahmanMaged @BeshoSmile @HalaKamal @mahmoudHussein

please review my code :)

[2013-04-16 22:23] BeshoyAtef commented on #100
@mohamedahmedawad93 Please Check my Code

[2013-04-17 09:42] nadeembarakat opened #158 "Basic Search"
i added  basic search files

@mohamedhammad89 @saraismail1234  @Reem-Sharkawy  @iBebarz

[2013-04-17 20:24] Reem-Sharkawy commented on #109
sara the label is already reopened , however you need to figure out how to link the sharing with the post

[2013-04-17 20:28] Reem-Sharkawy commented on #91
mohamed please , try to ammed the frond end in order to be able to test

[2013-04-17 20:41] mahmoudHussein commented on #97
happy can you please hook the pull request to the issue so i can review you ?!

[2013-04-17 21:05] HebaElSobky commented on #97
ohh okaay

On Wed, Apr 17, 2013 at 10:41 PM, mahmoudHussein
notifications@github.comwrote:

[2013-04-17 21:07] HebaElSobky commented on #97
thank u

On Wed, Apr 17, 2013 at 11:05 PM, heba el-sobky heba.elsobky@gmail.comwrote:

[2013-04-18 05:31] abdelrahmanMaged opened #159 "Adding location colomn in the db"
@Tharwat7 would you please add the following line in the class post:

location = models.CharField(max_length = "30")

Thank you :)

[2013-04-18 14:43] maizaied commented on #93
@mahmoudHussein  @HebaElSobky  @mohamedahmedawad93 please review :D

[2013-04-18 15:07] mahmoudHussein commented on #104
@HebaElSobky @mohamedahmedawad93 please review me !

[2013-04-18 15:30] mohamedahmedawad93 commented on #110
@BeshoSmile review my code

[2013-04-18 15:36] mohamedahmedawad93 commented on #93
@maizaied your code is verified

[2013-04-18 15:44] mohamedahmedawad93 commented on #110
@HebaElSobky
to test shell:
user1=UserProfile(name='Mohamed',email='1')
user2=UserProfile(name='Amr',email='2')
channel1=Channel(name='cars',description='jkj')
subchannel1=Subchannel(name='sport cars',channel_id=channel1)
attribute1=Attribute(name='color',subchannel_id=subchannel1,weight=1)
choice1=AttributeChoice(attribute_id=attribute1, value='red')
subscription1=Subscription(channel=channel1,su

[2013-04-18 16:10] HebaElSobky commented on #93
@maizaied  scenario has been verified :+1:

[2013-04-18 16:40] mahmoudHussein commented on #104
@HebaElSobky please review me.

[2013-04-18 19:41] #101 closed, assigned to Tharwat7

[2013-04-19 14:27] mohamedahmedawad93 commented on #110
@HebaElSobky

new shell testing:

from tager_www.models import *
user1=UserProfile(name='Mohamed',email='1@3.com');user1.save()
user2=UserProfile(name='Amr',email='2@3.com');user2.save()
channel1=Channel(name='cars',description='jkj');channel1.save()
subchannel1=Subchannel(name='sport cars',channel_id=channel1);subchannel1.save()
subchannel2=Subchannel(name='SUV',channel_id=channel1);subchannel2.s

[2013-04-19 16:34] HebaElSobky commented on #110
@mohamedahmedawad93  your scenario has been reviewed :+1: #110

[2013-04-19 17:13] nadeembarakat opened #165 "Final Search Engine"
I have added the search method which perform the search
please review @Reem-Sharkawy  @mohamedhammad89  @saraismail1234  @iBebarz

[2013-04-19 18:31] abdelrahmanMaged opened #166 "as a user i should be able to view post"
as a user i should be able to view posts.

[2013-04-20 16:56] Reem-Sharkawy commented on #165
scenario verified

[2013-04-20 16:56] Reem-Sharkawy commented on #158
scenario verified

[2013-04-20 21:37] mohamedhammad89 commented on #165
code reviewed

[2013-04-21 06:13] ahmedshireef opened #172 "Facebook register and login now working"
@saraismail1234  @nadeembarakat  @mohamedhammad89  @Reem-Sharkawy
Please review

[2013-04-21 17:47] ahmedshireef opened #177 "Facebook register and login now working"

[2013-04-21 23:24] HebaElSobky commented on #98
@Reem-Sharkawy @AbdelrahmanAyad review

[2013-04-22 21:52] abdelrahmanMaged opened #182 "As a user i should be able to edit post"
Uml reviewer: @HalaKamal
Documentation reviewer: @Tharwat7
Scenario reviewer: @Reem-Sharkawy
Code reviewer: @BeshoSmile

Success scenario:
The author of the post press edit button in the post page gets redirected to another page press edit button for the field that he/she wish to edit, change the fields press save, receive alert notifying him/her that the post has been updated.
Failure scenario:
T

[2013-04-23 18:54] abdelrahmanMaged opened #185 "As a user i should add posts to my wish list"
Uml reviewer: @HalaKamal
Documentation reviewer: @Tharwat7
Code Reviewer: @BeshoSmile
Scenario reviewer: @Reem-Sharkawy
Success scenario:
Logged in user press on wishlist icon on the post receive notification that it is successfully added.

Failure Scenario:
if the user already added that post to wish list he/she will receive notification regarding this

Tasks:
1- Write the views, templates and mo

[2013-04-23 19:09] maizaied opened #186 "as a user , I should provide my mobile phone number when I click im interested , if I didn't provide it earlier with (sms verfication)"
reviewers :
code : Mohamed Awad
scenario : Heba
documentation : mahmoud ahmed

success scenario :
a user must be logged in then choose a post , press intereste in a popup will apear for entering users number and then press enter , a text msg wil be send to verify the number , and the textbox for entering the number will disspear while another textbox will apear for entering the verficationcode

fa

[2013-04-23 20:49] Reem-Sharkawy opened #187 "as a user I should be able to view posts relevant to specific subchannels"
Success:
user finds all channels and subchannels listed on the left , he hovers on the channel's name , he may choose to view the posts related to this channel, or to specific subchannel

Failure:
user wants to view only two subchannels at a time , he will have to scroll up to the refiningBar on top and starts choosing specific subchannels.

Reviewers:
Documentation Reviewer @saraismail1234
UML/De

[2013-04-23 20:59] Reem-Sharkawy commented on #185
abdo check the issure format
include your reviewers and the subtasks

[2013-04-23 21:00] Reem-Sharkawy commented on #185
and if you started working on your story , label it status-in-progress
otherwise , status-new :D

[2013-04-23 21:38] HalaKamal opened #188 "c1-19-as a user i should be able to see posts related to my subscribed channels"
SUCCESS:
as a user i should be able to see the posts related to my subscribed channels, first when i logg in i'll open the home page i will find the subscription button i'll click on it the a dropdown list will appear of all channels i am subscriped in then if i clicked on any of them the home page will be redirected to page that will have all the posts that were related to that channel

FAILURE:

[2013-04-23 21:43] HalaKamal commented on #188
@AbdelrahmanAyad  i made my new issue

[2013-04-23 21:43] HebaElSobky opened #189 "As a user, my private number and personal information should not be publically announced on the site unless its specified (optional privacy)"
Success:
A user has his private information on the system however its not visible to the private eye and it becomes visible when another user send him a request for the information then if the seller accepts his info is sent to this buyer.
Failure:
the buyer might not find a request button to request the sellers information , the seller has his phone number hidden but its still seen by the user

R

[2013-04-23 21:52] HebaElSobky opened #190 "As a user i should be able to change the type of my account anytime i want through the settings"
Success:
There should be the option to change your user plan and switch from a premium user to a free user and vice verse from the settings.
Failure:
The option to change the user type isn't available inside the site and the user can't change if he wants to.

Reviewers:
Documentation Reviewer @mahmoudHussein
UML/Design Reviewer @maizaied

Implementation Reviewer @mohamedahmedawad93
Scenario Review

[2013-04-23 22:17] nadeembarakat opened #191 "Adding Autocomplete and spelling suggestions to the search engine"
Success:
The search engine should support The auto-complete feature where user enters a part of a keyword and the site completes it from the database , The search engine should support spelling suggestions where when the user enters a word with spelling mistakes he must recieve a did you mean notification with the spelling correction
 Failure:
The option to autocomplete the words isnt working , an

[2013-04-23 23:21] maizaied commented on #93
@HebaElSobky  @mohamedahmedawad93  please review me

[2013-04-24 00:36] ahmedshireef opened #193 "As a user, I can connect with my twitter in order to be able to login to the website"
Success scenario: user fills in the username and password of twitter account, the mail is verified through twitter and his username and password are saved in the system's database.

Failure scenarios: Twitter server is down, the user will not be able to login with twitter and will be notified.

[2013-04-24 01:01] Tharwat7 opened #194 "As a User i should be able to navigate through Channels and their SubChannels through the side menu"
Success:
A User (whether guest or logged in) goes to the homepage and navigates through the different channels and their sub-channels and access them in order to view the posts related to each sub-channel on the navigation menu on the left of the page

Failure:
User fails to find a Channel or Sub-channel that are of his or her interest

Reviewers:
Documentation Reviewer @mahmoudHussein
UML/Design

[2013-04-24 01:03] Tharwat7 opened #195 "Fix the Base and Main Page"
Reviewers:
Documentation Reviewer @mahmoudHussein
UML/Design Reviewer @HalaKamal
Code Reviewer @BeshoSmile
Scenario Reviewer @abdelrahmanMaged

Tasks:
C1-23

[2013-04-24 08:33] BeshoyAtef opened #197 "As a User i can comment on Posts: [User commenting on a Post] - GUI Only"

[2013-04-24 08:35] BeshoyAtef commented on #197
1 Point only

[2013-04-24 09:02] saraismail1234 opened #198 "as a user, i should be able to import contacts from twitter"
success:
the user is logged in , and is connected with twitter  , a pop up box appears and and the people who the user follows  appears and he could select from them the friends he would like to send an invitation to join " tager " and to become a friends in his network , is the user is not signed in with twitter , once he clicks on the twitter logo , a pop up box will appear to sign in through tw

[2013-04-24 11:16] mohamedhammad89 opened #199 "make the advanced search more dynamic"
code reviewer:
secnario reviewer: @Reem-Sharkawy , @nadeembarakat
@documentation reviewer : @saraismail1234

[2013-04-24 19:04] maizaied commented on #93
please review me @HebaElSobky @mohamedahmedawad93

[2013-04-25 16:12] HebaElSobky commented on #98
@AbdelrahmanAyad please review the scenario and take into consideration the 3line in the subscriptions.js #98

[2013-04-25 22:25] Reem-Sharkawy commented on #185
reviewed

[2013-04-25 23:24] #185 closed, assigned to abdelrahmanMaged

[2013-04-26 08:02] Reem-Sharkawy commented on #91
reviwed

[2013-04-26 15:54] mohamedahmedawad93 commented on #97
@HebaElSobky i verified your code

[2013-04-26 17:16] mohamedahmedawad93 opened #210 "Activity log"
As a user i should view my activity log
success scenario:
  1- user should view only his related activities
  2- activities should be sorted according to date

documentation reviewer: @mahmoudHussein
scenario reviewer: @HebaElSobky
UML reviewer: @maizaied

[2013-04-26 22:56] #98 closed, assigned to HebaElSobky

[2013-04-27 09:54] abdelrahmanMaged commented on #190
@HebaElSobky we agreed that this point will not be 5 points so cn you please change the label i know that in the backlog it is 5 but we agreed that the estimate will be less than that
Regards,

[2013-04-27 13:13] saraismail1234 commented on #135
i need to add the column twitter_username to the UserProfile table

[2013-04-27 23:58] BeshoyAtef opened #214 "Improve Profile GUI-ONLY"

[2013-04-28 00:09] abdelrahmanMaged opened #215 "as a user i should be able to view and edit my wishlist"
@Reem-Sharkawy @Tharwat7 @BeshoSmile

[2013-04-28 12:47] abdelrahmanMaged commented on #182
@Tharwat7

[2013-04-28 13:02] Reem-Sharkawy commented on #172
![Screenshot from 2013-04-28 15:01:02](https://f.cloud.github.com/assets/3513928/435758/c1c4808e-b003-11e2-9cf8-d2eecea35cac.png)

the system crashes when refreshing !
please check the error and push again

[2013-04-28 16:53] mahmoudHussein opened #221 "As a user ,I should view the people i interacted with in my profile."
when a user logs in and checks his account profile he should be able to view the list of people he interacted (bought or sold stuff to) and this should be viewed in a box in the profile page.

@maizaied @HebaElSobky @mohamedahmedawad93

[2013-04-28 21:18] BeshoyAtef commented on #102
Merged !!

[2013-04-29 01:42] mohamedahmedawad93 commented on #214
@BeshoSmile kolo tamam bs aldiv bta3 alfriends da5el 3alwish list

[2013-04-29 01:43] mohamedahmedawad93 commented on #214
@BeshoSmile try height: auto or relative kanet 7aga keda in css format

[2013-04-29 01:50] mohamedahmedawad93 commented on #197
@BeshoSmile beshoo please merge i need this to complete the activity log

[2013-04-29 15:05] Reem-Sharkawy commented on #215
reviewed

[2013-04-29 15:17] BeshoyAtef commented on #214
ok hashof now

On Mon, Apr 29, 2013 at 3:43 AM, mohamedahmedawad93 <
notifications@github.com> wrote:

[2013-04-29 20:26] BeshoyAtef commented on #215
reviewed

[2013-04-30 15:44] maizaied commented on #186
@HebaElSobky  @mahmoudHussein @mohamedahmedawad93  please rewvieww

[2013-04-30 16:46] mohamedahmedawad93 commented on #190
@HebaElSobky you forgot to push your account.html

[2013-04-30 18:46] mahmoudHussein commented on #210
@mohamedahmedawad93 please define the labels

[2013-04-30 18:54] mohamedahmedawad93 commented on #210
@mahmoudHussein i defined the labels you can review now

[2013-04-30 18:59] mahmoudHussein commented on #210
Give me 5 mins and I'll be done with you isa ! I already started !
Sent from my BlackBerry® from Vodafone

-----Original Message-----
From: mohamedahmedawad93 notifications@github.com
Date: Tue, 30 Apr 2013 11:54:57
To: DinaSaad/sharesoft-13sharesoft-13@noreply.github.com
Reply-To: DinaSaad/sharesoft-13 reply@reply.github.com
Cc: mahmoudHusseinm.hussein0793@gmail.com
Subject: Re: [sharesoft-13] Ac

[2013-04-30 19:17] saraismail1234 commented on #172
did u do documentation??

[2013-04-30 19:18] mahmoudHussein commented on #186
@maizaied doc verified and please update the rest of your labels

[2013-04-30 19:25] mahmoudHussein commented on #190
@HebaElSobky documentation verified just have a small comment though if you can just make C2- heba el sobky- story name that would be great ... but the rest is fine !

[2013-04-30 20:14] maizaied commented on #186
okay thank u !

[2013-04-30 20:54] mahmoudHussein commented on #221
@Tharwat7 please check my documentation

[2013-04-30 21:27] maizaied commented on #135
done :D

[2013-04-30 21:33] mahmoudHussein commented on #221
@Tharwat7 @HebaElSobky please review my branch !!

[2013-04-30 21:40] mahmoudHussein opened #236 "important issue"
for the userProfiles there should be a default profile picture that is present in the table UserProfile as in a story i should render the profile picture of the user so in case he doesn't have a picture a default one should be assigned to him.... thank you !

@Tharwat7 @AbdelrahmanAyad @maizaied @mohamedahmedawad93 @Reem-Sharkawy @mohamedhammad89 @BeshoSmile @HebaElSobky

[2013-04-30 21:42] Tharwat7 commented on #221
@mahmoudHussein
Please fix what i told u 2

[2013-04-30 21:44] mahmoudHussein commented on #221
@Tharwat7 fix what ? care to elaborate more ?

[2013-04-30 21:44] Tharwat7 commented on #221
@look at the comments in the document -____-

[2013-04-30 21:45] mahmoudHussein commented on #221
@Tharwat7 what document ?

[2013-04-30 21:49] abdelrahmanMaged commented on #210
@mohamedhammad89 pleease verify my code

[2013-04-30 21:54] mohamedhammad89 commented on #210
code verified

[2013-04-30 22:17] mahmoudHussein commented on #135
in UserProfile i need a      get_interacting_people()   method

[2013-04-30 22:34] ahmedshireef commented on #135
In class User I added the following attributes:
facebook_uid
accesstoken
twitter_name
twitter_token_key
twitter_token_secret
friends

In the Facebook class I added the following defs:
fblogin
facebook_login
fb_authenticate
facebook_login_done
getContacts
facebook_import_friends
facebook_import_friends_done

In the Twitter class I added the following defs:
twitter_login
twitter_auth_done

[2013-04-30 22:58] abdelrahmanMaged commented on #236
Why am i tagged here :P :D??

On 30 April 2013 23:40, mahmoudHussein notifications@github.com wrote:

[2013-05-01 00:02] #190 closed, assigned to HebaElSobky

[2013-05-01 00:03] abdelrahmanMaged commented on #135
@maizaied i added the following class with the following attributes
class ActivityLog:
    content --> charfield
    user refrencing to UserProfile
    url--> charfield
    log_type--> charfield
    activity_date--> datefield

[2013-05-01 07:13] BeshoyAtef commented on #236
Not a huge issue

On Wednesday, May 1, 2013, abdelrahmanMaged wrote:

[2013-05-01 09:08] HalaKamal commented on #185
tage me when u finish the diagram  @AbdelrahmanAyad

[2013-05-01 13:24] #197 closed, assigned to BeshoyAtef

[2013-05-01 13:34] abdelrahmanMaged commented on #108
@Tharwat7 @BeshoSmile  kindly be notified that the story has been reshuffled for me so i will  modify hala's backend and create the front end and tests.

[2013-05-01 13:39] Tharwat7 commented on #135
@maizaied
Please edit the following tables to include:

Interested In table:
1) user_id_buyer
2) user_id_seller
3) post

Report Table:
 1) reported_post
 2) report_type
 3) reporting_user

Report Reasons table:
reported_reason

Thank u :)

[2013-05-01 14:08] HebaElSobky commented on #135
Mai I added some attributes in the user profile model

On Wednesday, May 1, 2013, Tharwat7 wrote:

[2013-05-01 15:52] mahmoudHussein commented on #195
@Tharwat7 i am not you reviewer btw ! @saraismail1234  is your reviewer !

[2013-05-01 15:55] mahmoudHussein commented on #194
@Tharwat7 tharwat i'm not you reviewer @saraismail1234 is your reviewer

[2013-05-01 17:38] BeshoyAtef commented on #195
Verified

[2013-05-01 21:10] mahmoudHussein commented on #221
@maizaied please review my diagram its on the drive

[2013-05-01 21:43] BeshoyAtef commented on #108
:+1:

[2013-05-02 22:03] HebaElSobky commented on #135
@maizaied mi in the UserProfile i added these attributes please add them 3andiik
works_at
works_at2
phone_number2
private_work
private_number

Thank You =)

[2013-05-03 10:18] maizaied commented on #186
@iBebarz  ahmed plz review my sequence digram , ull find it fel drive on gmail :D

[2013-05-03 10:21] maizaied commented on #221
@mahmoudHussein you need to changed the top mm box and right the app name and wat ur accessing example : tager_www <<templates>> , then when the user clicks this should call a method in the views u have to wite the name and its parameters mesh discribtion and when it returns the list show thhis a dotted line cuz its a return , plz revise the sequence digram and show it to me again
thank u :D

[2013-05-03 10:26] maizaied commented on #189
@HebaElSobky  the actor doesnt have any activattion bar or dotted , the boxes should have the app name and wat it acceses it example tager_www <<models>> , then show the method name and its paramters in the vieww that is accessed from the view
check it plz and tagg me aagain

[2013-05-03 10:27] maizaied commented on #189
change the other aswell because they r done in the same way

[2013-05-03 10:28] HebaElSobky commented on #189
Msh fahma ??
On Friday, May 3, 2013, maizaied wrote:

[2013-05-03 10:49] maizaied commented on #189
bosii shoffi mine as an example 7atfhmii ts on the drive

[2013-05-03 10:58] mahmoudHussein commented on #221
@maizaied i don't understand what you want in the first part but as for the second part about calling the method i did and the method takes no attributes so don't worry. so please call me because i don't understand what to do in the first part.

[2013-05-03 12:56] maizaied commented on #221
did u correct it ?

[2013-05-03 13:17] HebaElSobky commented on #189
I just saw this okay I'll check yours and correct mine!! Thank youu
On Friday, May 3, 2013, maizaied wrote:

[2013-05-03 13:27] mohamedahmedawad93 commented on #214
@BeshoSmile code verified

[2013-05-03 15:06] mahmoudHussein commented on #221
Yes I did please check it on the email :D
Sent from my BlackBerry® from Vodafone

-----Original Message-----
From: maizaied notifications@github.com
Date: Fri, 03 May 2013 05:56:50
To: DinaSaad/sharesoft-13sharesoft-13@noreply.github.com
Reply-To: DinaSaad/sharesoft-13 reply@reply.github.com
Cc: mahmoudHusseinm.hussein0793@gmail.com
Subject: Re: [sharesoft-13] As a user ,I should view the people i

[2013-05-03 16:24] maizaied commented on #135
done :D

[2013-05-03 16:47] maizaied commented on #221
checked !

[2013-05-03 17:14] #221 closed, assigned to mahmoudHussein

[2013-05-03 17:14] #210 closed, assigned to mohamedahmedawad93

[2013-05-03 17:14] #195 closed, assigned to Tharwat7

[2013-05-03 17:15] #189 closed, assigned to HebaElSobky

[2013-05-03 17:15] #186 closed, assigned to maizaied

[2013-05-03 17:15] #182 closed, assigned to abdelrahmanMaged

[2013-05-03 17:15] #55 closed, assigned to mohamedahmedawad93

[2013-05-03 17:15] #56 closed, assigned to abdelrahmanMaged

[2013-05-03 17:15] #58 closed, assigned to saraismail1234

[2013-05-03 17:15] #60 closed, assigned to saraismail1234

[2013-05-03 18:05] #84 closed, assigned to nadeembarakat

[2013-05-03 18:06] #75 closed, assigned to mahmoudHussein

[2013-05-03 18:06] #66 closed, assigned to HebaElSobky

[2013-05-03 18:06] #63 closed, assigned to nadeembarakat

[2013-05-03 18:06] HebaElSobky commented on #190
@maizaied this is it

[2013-05-03 18:06] #62 closed, assigned to nadeembarakat

[2013-05-03 18:06] HebaElSobky commented on #189
@maizaied  this is the other one

[2013-05-03 18:08] BeshoyAtef opened #254 "Add rippons and improve post (based on Po comments)"

[2013-05-03 18:28] #254 closed, assigned to BeshoyAtef

[2013-05-03 18:34] abdelrahmanMaged commented on #108
@HalaKamal  please review the uml it has been 2 hours online

[2013-05-03 18:36] abdelrahmanMaged commented on #215
@HalaKamal please review my uml

[2013-05-03 20:10] #214 closed, assigned to nobody

[2013-05-03 20:17] #93 closed, assigned to maizaied

[2013-05-03 20:18] #95 closed, assigned to maizaied

[2013-05-03 20:18] #105 closed, assigned to BeshoyAtef

[2013-05-03 20:18] #100 closed, assigned to BeshoyAtef

[2013-05-03 20:20] #215 closed, assigned to nobody

[2013-05-03 20:20] #166 closed, assigned to abdelrahmanMaged

[2013-05-03 20:21] #96 closed, assigned to abdelrahmanMaged

[2013-05-17 18:51] mohamedahmedawad93 opened #267 "live notifications"

[2013-05-29 16:37] BeshoyAtef commented on #214
<http://www.skillpages.com/i/ftuf/emailinvitelanding?user=88470b98-4248-e011-889f
-c965259bf186&signedParameters=9K_VTpCUoE2byUVkNvOiK6okblx0Ft8lhl93nwGwATI.eyJlbW
FpbCI6InJlcGx5K2ktMTM3Mjc2NjctOTQ2NDk5NzNiZWUyMTM0Yzg5NjUxYmI3YmViOTY3ZDViYzE5ZTE
zNi0zNTE1Mjc4QHJlcGx5LmdpdGh1Yi5jb20iLCJmcm9tIjoiODg0NzBiOTgtNDI0OC1lMDExLTg4OWYt
Yzk2NTI1OWJmMTg2IiwidG8iOiI5MWNmM2VhOC1jNWFiLTVjNjYtODQ4Yy1lMDk1YWZiYjBk

[2013-05-31 10:11] BeshoyAtef opened #276 "Interactive posts map"
a dynamic map to show how many posts for each city on the map by hovering

![947081_10151407585580168_1528111556_n](https://f.cloud.github.com/assets/3515278/590223/77053aa2-c9da-11e2-800d-2f21738ea454.jpg)
 on it

[2013-05-31 10:17] BeshoyAtef opened #277 "Implement a Full twitter register"
when the user login with twitter an error appears that must handles by redirecting the user to a page to input his email and then register

[2013-05-31 10:19] #194 closed, assigned to Tharwat7

[2013-05-31 10:19] #193 closed, assigned to mohamedhammad89

[2013-05-31 10:20] #177 closed, assigned to nobody

[2013-05-31 10:20] #172 closed, assigned to nobody

[2013-05-31 10:20] #159 closed, assigned to nobody

[2013-05-31 10:20] #149 closed, assigned to Tharwat7

[2013-05-31 10:21] #127 closed, assigned to nadeembarakat

[2013-05-31 10:21] #111 closed, assigned to mohamedahmedawad93

[2013-05-31 10:21] #110 closed, assigned to mohamedahmedawad93

[2013-05-31 10:21] #109 closed, assigned to saraismail1234

[2013-05-31 10:21] #107 closed, assigned to HalaKamal

[2013-05-31 10:21] #77 closed, assigned to Reem-Sharkawy

[2013-05-31 10:21] #97 closed, assigned to HebaElSobky

[2013-05-31 10:22] #94 closed, assigned to maizaied

[2013-05-31 10:22] #92 closed, assigned to nadeembarakat

[2013-05-31 10:22] #91 closed, assigned to mohamedhammad89

[2013-05-31 10:23] #187 closed, assigned to Reem-Sharkawy

[2013-05-31 10:23] #102 closed, assigned to Tharwat7

[2013-05-31 10:24] #158 closed, assigned to nadeembarakat

[2013-05-31 10:24] BeshoyAtef opened #278 "Fix Post and Profile Information layout and Profile Edit"

[2013-05-31 10:26] BeshoyAtef opened #279 "Enhance and Fix all the icons across the website"
some cool icons are here
http://icomoon.io/#icons
http://www.webpop.com/blog/2013/05/08/top-10-free-icon-fonts

[2013-05-31 10:27] #165 closed, assigned to nadeembarakat

[2013-05-31 10:27] #108 closed, assigned to abdelrahmanMaged

[2013-05-31 10:27] #103 closed, assigned to Reem-Sharkawy

[2013-05-31 10:28] #198 closed, assigned to saraismail1234

[2013-06-05 00:24] BeshoyAtef commented on #236
<http://www.skillpages.com/i/ftuf/emailinvitelanding?user=88470b98-4248-e011-889f
-c965259bf186&signedParameters=knPZBpcEKEkZOtLxO1iGP924Swgu7QYaIj8PHWqXwfc.eyJlbW
FpbCI6InJlcGx5K2ktMTM4Mjg2MTktOTEzOWJhODExODU4NjgzZWVkODQ1NDIyZTBkOTllYjhkNzM5OTN
hMC0zNTE1Mjc4QHJlcGx5LmdpdGh1Yi5jb20iLCJmcm9tIjoiODg0NzBiOTgtNDI0OC1lMDExLTg4OWYt
Yzk2NTI1OWJmMTg2IiwidG8iOiJhNjA2ZWNjYy0zYWQxLTUzNzYtOGZmYy00ZTdmYTI3ZjZj

[2013-06-05 00:24] BeshoyAtef commented on #214
<http://www.skillpages.com/i/ftuf/emailinvitelanding?user=88470b98-4248-e011-889f
-c965259bf186&signedParameters=nfC3jMYMf-tf12aBu-TQw6xTPCF2VVaNfRSIryYPi3I.eyJlbW
FpbCI6InJlcGx5K2ktMTM3Mjc2NjctOTQ2NDk5NzNiZWUyMTM0Yzg5NjUxYmI3YmViOTY3ZDViYzE5ZTE
zNi0zNTE1Mjc4QHJlcGx5LmdpdGh1Yi5jb20iLCJmcm9tIjoiODg0NzBiOTgtNDI0OC1lMDExLTg4OWYt
Yzk2NTI1OWJmMTg2IiwidG8iOiI5MWNmM2VhOC1jNWFiLTVjNjYtODQ4Yy1lMDk1YWZiYjBk

[2013-06-06 13:03] BeshoyAtef opened #280 "Notification Styling and Pusher Comments"
Enhance the notification styling and allow comments with pusher system

[2013-06-06 20:30] BeshoyAtef opened #282 "Fix Activity Log styling"

[2013-06-07 09:43] BeshoyAtef commented on #282
in the profile and in its page too

[2013-06-07 10:56] mohannadbanayosi commented on #282
Ento bte3melo lelkalaam da share 3al facebook leh ? :D

[2013-06-07 11:16] BeshoyAtef commented on #282
![screenshot from 2013-06-07 13 15 42](https://f.cloud.github.com/assets/3515278/623386/b30c6744-cf63-11e2-8adf-22311fddbce8.png)

[2013-06-07 11:24] BeshoyAtef commented on #277
all done

[2013-06-07 11:24] #277 closed, assigned to BeshoyAtef

[2013-06-07 11:25] BeshoyAtef commented on #267
all done and Perfect , () Closed

[2013-06-07 11:25] #267 closed, assigned to nobody

[2013-06-07 11:31] mohamedahmedawad93 commented on #282
@BeshoSmile meen bawazha :)

[2013-06-12 00:24] BeshoyAtef commented on #214
<http://www.skillpages.com/i/ftux/emailinvitelanding?signedParameters=Ye0Vxb16wS-
gawbe-4QPbRs4qdXExDBum04ExUfvNgU.eyJlbWFpbCI6InJlcGx5K2ktMTM3Mjc2NjctOTQ2NDk5NzNi
ZWUyMTM0Yzg5NjUxYmI3YmViOTY3ZDViYzE5ZTEzNi0zNTE1Mjc4QHJlcGx5LmdpdGh1Yi5jb20iLCJmc
m9tIjoiODg0NzBiOTgtNDI0OC1lMDExLTg4OWYtYzk2NTI1OWJmMTg2IiwidG8iOiI5MWNmM2VhOC1jNW
FiLTVjNjYtODQ4Yy1lMDk1YWZiYjBkNTkiLCJpc3N1ZWRfYXQiOiIxMzcwOTk2NjQzIiwidm

[2013-06-12 00:26] BeshoyAtef commented on #236
<http://www.skillpages.com/i/ftux/emailinvitelanding?signedParameters=FX1TDdD8TEB
Y0nwsUu-3YDn9N02n6E-V4c5uk9Z0aAE.eyJlbWFpbCI6InJlcGx5K2ktMTM4Mjg2MTktOTEzOWJhODEx
ODU4NjgzZWVkODQ1NDIyZTBkOTllYjhkNzM5OTNhMC0zNTE1Mjc4QHJlcGx5LmdpdGh1Yi5jb20iLCJmc
m9tIjoiODg0NzBiOTgtNDI0OC1lMDExLTg4OWYtYzk2NTI1OWJmMTg2IiwidG8iOiJhNjA2ZWNjYy0zYW
QxLTUzNzYtOGZmYy00ZTdmYTI3ZjZjNTEiLCJpc3N1ZWRfYXQiOiIxMzcwOTk2NzgxIiwidm

[2014-04-17 15:58] joewagieh opened #288 "T3.7 As a user i should be able to reset my password (forget password)"
"Success scenario"
Email sent and password successfully changed
"Failure scenario"
Email not sent

reviewers :
@Ahmedheshamnasser
@sharkas911
@YoussefSaleh
@hagaressam
@mohamed-khairy

Tasks:
.Create button reset my password
.Sending an email to reset the password
.Testing
.Documentation